
.App {
   position: absolute;
   min-width: 1000px;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   font-family: 'Maven Pro', sans-serif;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; transform: scale(.98); }
    to   { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes slideIn {
  from { opacity: 0; margin-top: 100%; }
  to { opactiy: 1; margin-top: 25px; }
}

@-webkit-keyframes navTextSlideUp {
    from { line-height: 0; }
    to   { line-height: .6; }
}


.navBar {
   width: 100vw;
   min-width: inherit;
   height: 120px;
   position: relative;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background: #e0d3a7;
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
   border-bottom: solid 3px #975952;
   -webkit-animation: fadeIn both 1s;
}

.navText {
   margin: 0;
   padding: 0;
   padding-left: 35px;
   font-family: 'Bungee', sans-serif;
   /*font-family:'Shrikhand', sans-serif;*/
   font-size: 115px;
   color: white;
   -webkit-animation: navTextSlideUp both 1.5s;
   border-top: solid 4px #fce837;
   /*background-color: #fce837;*/

}

.contentContainer {
   /*margin-top: 3vh;*/
   border-top: solid 3px #fce837;
   position: relative;
   margin: 6vh 6vw;
   padding: auto;
   min-width: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   background: #e0d3a7;
   border-bottom: solid 3px #975952;
   -webkit-animation: fadeIn both 1s;
}

/*PlayListStyle >> PlayList.css---------------------*/
.playListContainer {
   width: 450px;
   height: 650px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #edeadc;
   border-radius: 5px;
   border-bottom: solid 3px #975952;
}

#updateButton {
   width: 90%;
   height: 75px;
   margin-bottom: 1em;
   font-size: 30px;
   font-weight: bold;
   font-family:'Bungee', sans-serif;
   font-weight: lighter;
   background-color: #faf9f4;
   border: none;
   border-radius: 3px;
   border-bottom: solid 3px #975952;
   color: #C7BAB0;
}

#ItemList {
   width: 90%;
   height: 500px;
   background-color: #755856;
   border-radius: 3px;
   list-style-type: none;
   overflow: auto;
   color: #755856;
}

#ItemList::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

#ItemList::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(215,215,215,.4);
}

.PlayListItem {
   margin: 25px;
   padding: 1em;
   text-align: center;
   border-radius: 3px;
   border-top: solid 3px #fce837;
   /*border-bottom: solid 3px #d98656;*/
   background-color: #faf9f4;
   -webkit-animation: slideIn both 1.5s;
   -webkit-animation-delay: .1s;
}

.label {
   font-size: 18px;
   font-family:'Bungee', sans-serif;
   font-weight: light;
   margin-bottom: 4px;
}

.emptyEntry {
   font-size: 18px;
   font-family:'Bungee', sans-serif;
   font-weight: light;
}

.songData {
   margin-bottom: 1em;
   color: #00896e;
   font-size: 20px;
   font-weight: lighter;
}

/*PlayListFormStyles >> PlayListForm.css-------------*/

.formContainer {
   width: 450px;
   height: 650px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #edeadc;
   border-radius: 5px;
   border-bottom: solid 3px #975952;
}

form {
   width: 100%;
   height: 600px;
   padding: 1em 5% 0 5%;
   border-radius: 2px;
   color: white;
}

.fieldsetDivs {
   display: flex;
   flex-direction: column;
   border-radius: 2px;
   margin: 10px 0 10px 0;
   /*background-color: #C7BAB0;*/

}

.formLabels {
   font-size: 24px;
   font-family:'Bungee', sans-serif;
}

input {
   margin-bottom: 1em;
   padding: .5em;
   border: none;
   outline: none;
   color: #755856;
   border-bottom: solid 3px rgba(0,0,0,.1);
   font-size: 20px;
   cursor: text;
   text-align: center;
}

input:focus {
    background-color: white;
    opacity: .7;
    border-radius: 3px;
}

#infoSubButton {
   font-family:'Bungee', sans-serif;
   font-weight: lighter;
   color: #C7BAB0;
   width: 100%;
   height: 75px;
   font-size: 30px;
   background-color: #faf9f4;
   border-radius: 3px;
   border-bottom: solid 3px #975952;
}

#infoSubButton:hover, #updateButton:hover {
   -webkit-transform: scale(1.015);
   background-color: #4e5b43;
   color: #00896e;
   /*opacity: .8;*/
}

#infoSubButton:active, #updateButton:active {
   transform: translateX(1px);
   transform: translateY(1px);
   -webkit-transform: translateY(1px);
   box-shadow: 0 .5px 1px #ADABAE;
   border-bottom: none;
   /*color: #fce837;*/
   border-top: solid 3px #fce837;
}
